/* font-family: ;
font-family:  */
body{
    background-color: var(--bg-color);
}
:root {
    --dark-color : #ee6055;
    --light-color : #60d394;
    --super-light-color : #93ff96;
    --week-name-color : #fa846a;
    --white : #f7fff7;
    --bg-color : #d3f8e2;
}

/* old colors */
/* --dark-color : #ee6055;
    --light-color : #60d394;
    --super-light-color : #93ff96;
    --week-name-color : #fa846a;
    --white : #f7fff7;
    --bg-color : #d3f8e2; */

/* #95afc0                              #6B705C
#c7ecee                               #A5A58D                  
#dff9fb                                #CCD5AE
                                    #84A98C */

nav {
    width: 100%;
    text-align: center;
    background-color: var(--dark-color);
    border-bottom: 2px solid black;
    padding: 10px;
}

#heading {
    color: var(--white);
    text-decoration: none;
    font-size: 35px;
    font-family: 'Oleo Script', cursive;
}

#body {
    width: 100%;
    /* border: 2px solid red; */
}


#weekdays {
    display: grid;
    grid-template-columns: repeat(7,12%);
    justify-content: center;
    grid-column-gap: 5px;
}

#weekdays .weekday-name {
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--week-name-color);
    border-radius: 5px;
}


#weekdays div div:not(.weekday-name) div:not(.empty-date){
    border: 1px solid black;
    margin-top: 5px;
    
}


#calender-box{
    width: 80%;
    margin: 20px auto;
}


.empty-date {
    margin-top: 5px;
    height: 95px;
    background-color: var(--super-light-color);
    border-radius: 5px;
}

.date {
    height: 95px;
    background-color: var(--light-color);
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.date:hover{
    box-shadow: 2px 2px black;
}


#today{
    background-color: var(--super-light-color);
    font-weight: bold;
    box-shadow: 1px 1px black;
}

#today:hover{
    box-shadow: 3px 3px black;
}

#calender-nav {
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

#body button{
    color: var(--white);
    background-color: var(--week-name-color);
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Oleo Script', cursive;
    font-size: 13px;
    border: none;
    border: 2px solid black;
}
#body button:hover{
    box-shadow: 2px 2px black;
}

#next , #prev{
    width: 40px;
    height: 22px;
    margin-left: 15px;
}
#expand {
    width: 50px;
    height: 23px;
}

.display-month-year  p{
    width: fit-content;
    padding: 5px;
    background-color: var(--week-name-color);
    font-family: 'Oleo Script', cursive;
    font-size: 16px;
    color: var(--white);
    margin-left: 16%;
    margin-top: 5px;
    text-align: center;
    border-radius: 10px;
}

.teachers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-template-columns: repeat(6,100px);
    margin: 20px auto;
    width: 80%;
    justify-content: center;
    /* border: 2px solid black; */
}

.teacher-name {
    background-color: var(--dark-color);
    font-family: 'Oleo Script', cursive;
    color: var(--white);
    padding: 10px;
    font-size: 25px;
    border-bottom: 2px solid black;
    border-radius: 5px 5px 0px 0px;
}
.lectures {
    padding: 10px;
    background-color: var(--super-light-color);
    border-radius: 0px 0px 5px 5px;
}
.lectures div > span {
    font-weight: bold;
}

.teacher-link {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.teacher:hover {
    box-shadow: 4px 4px black;
}

.login form {
    padding: 10px;
    text-align: center;
    /* border: 2px solid red; */
}

.login legend {
    font-size: 40px;
    /* font-weight: bold; */
    font-family: 'Oleo Script', cursive;
    color: var(--white);
    border-radius: 5px 5px 0px 0px ;
    background-color: var(--dark-color);
}

.login form input {
    margin: 10px;
}

.search {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    margin: 5px auto;
    text-align: left;
    padding: 5px;
}

#search-input {
    width: 200px;
    height: 28px;
    font-size: 16px;
    background-color: var(--bg-color);
    border: 2px solid black;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 5px;
}

#search-input:focus{
    outline: none;
    background-color: var(--white);
    border: 1px solid black;
}

.login form input[type = "submit"] {
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--dark-color);
    border: 1px solid black;
    outline: none;
    transition: all 0.2s ease;
}

.login form input[type = "submit"]:hover {
    cursor: pointer;
    box-shadow: 3px 3px black;
}

.login form{
    background-color: var(--super-light-color);
    border-radius: 0px 0px 5px 5px;
}

.login form input[type = "text"] ,.login form input[type = "password"] {
    width: 60%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 5px;
}

.login form input[type = "text"]:focus ,.login form input[type = "password"]:focus {
    outline: none;
    background-color: var(--white);
}


.login {
    text-align: center;
    margin: 18vh auto;
    width: 600px;
    /* border: 2px solid black; */
}

.addTeacherBtn {
    height: 25px;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--white);
    margin: 5px;
}

.addTeacherPopup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 1;
}
.addTeacherPopup form{
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--super-light-color);
    width: 65%;
    z-index: 2;
    text-align: center;
    padding: 5px;
}


.addTeacherPopup input[type = "text"]{
    width: 60%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}
.addTeacherPopup input[type = "text"]:focus{
    outline: none;background-color: var(--white);
}

#h2 {
    font-size: 30px;
    font-family: 'Oleo Script', cursive;
}


.addTeacherPopup input[type = "date"] , .addTeacherPopup input[type = "time"] {
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}

.add , .done{
    width: fit-content;
    padding: 0px 5px 0px 5px;
    color: var(--white);
    background-color: var(--dark-color);
    height: 25px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#delT , #editT {
    width: fit-content;
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--white);
    font-weight: bold;
}

#delT:hover , #editT:hover {
    box-shadow: 2px 2px black;
}

.done {
    width: 80px;
    margin: 5px;
}

.done:hover , .add:hover{
    box-shadow: 2px 2px black;
}

.close {
    float: right;
    width: fit-content;
    /* background-color: red; */
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 180px) {
    .change-nav > button{
        margin-bottom: 3px;
    }
}


@media only screen and (max-width: 980px) {
    #weekdays .weekday-name {
        font-size: 15px;
    }
}
@media only screen and (max-width: 750px) {
    #weekdays .weekday-name {
        font-size: 13px;
    }
}

@media only screen and (max-width: 660px) {
    #from , #to {
        margin: 5px;
    }
    .login{
        width: 400px;
    }
    .display-month-year  p{
        margin: 5px auto;
    }
    #weekdays {
        grid-template-columns: 100%;
    }
    
    #weekdays .weekday-name {
        cursor: pointer;
        height: 40px;
        margin-top: 5px;
        font-size: 25px;
    }
    #weekdays .weekday-name:active{
        background-color: var(--dark-color);
    }
    .date {
        padding: 5px;
        font-size: 18px;
    }
    
}


@media only screen and (min-width: 660px) {
    #expand{
        display: none;
    }
    
    #calender-nav{
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 415px) {
    .login {
        width: 300px;
    }
}
@media only screen and (max-width: 315px) {
    .login {
        width: 230px;
    }
}